.App {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
#editor, #preview  {
  width: 40vw;
  height: 90vh;
  margin: auto;
  overflow: scroll;
  border: 1px solid #1b1b1b;
}

@media (max-width: 900px) {
  .App {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
  }
  #editor, #preview {
    width: 90vw;
    height: 50vh;
    margin: auto;
    overflow: scroll;
    border: 1px solid #1b1b1b;
  }
  
}