.App {
  text-align: center;
}

.title{
  color : #fafafa;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.type-box{
  width: 70vw;
  height: 200px;
  background: slategrey;
  margin: auto;
  margin-top: 2%;
}

textarea{
  width: 70vw;
  height: 200px;
  background: #ae84ff9e;
  border: none;
  outline: none;
  color: black;
  font-size: 1.5em;
  margin: auto;
}




.card{
  width:90vw;
  margin:auto;
  background: #fafafa;
  min-height: 70vh;
  margin-top: 3%;
  font-size: 1.5em;
}
