.App {
  text-align: center;
}

.type-box{
  width: 70vw;
  height: 200px;
  background: slategrey;
  margin: auto;
  margin-top: 2%;
}

textarea{
  width: 70vw;
  height: 200px;
  background: #ae84ff9e;
  border: none;
  outline: none;
  color: black;
  font-size: 1.5em;
  margin: auto;
}